@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Cinzel', 'Montserrat', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #fe1f44;
    --main-font: 'Cinzel';
    --second-font: 'Montserrat';
}

html {
    font-size: 62.5%;
    overflow: auto;
}
body {
    background: var(--bg-color);
    font-family: 'Cinzel',  sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}


@media (max-width: 995px){
    .home {
        flex-direction: column;
        margin: 5rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    #menu-icon{
        display: flex;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar .active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

@media (max-width:991px){
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
}


@media (max-width:895px) {
    .services h2 {
        margin-bottom: 3rem;
    }
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:600px) {
    .skills .container{
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container {
        margin-top: 5px;
        width: 100%;
    }
    .education .timeline {
        margin-top: 2rem;
    }
    .education .timeline::after {
        left: 31px;
    }
    .education .container {
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .education .container::after {
        font-size: 2.2rem;
    }
    .container .container::before {
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }
    .education .left::after {
        left: 15px;
    }
    .education .right::after {
        left: 15px;
    }
    .education .right {
        left: 0;
    }
}